@font-face {
  font-family: "euclid";
  src: url(./assets/fonts/euclid/EuclidGalactic-1G.ttf);
}
@font-face {
  font-family: "euclid500";
  src: url(./assets/fonts/euclid/EuclidGalactic-3G.ttf);
}
@font-face {
  font-family: "euclid600";
  src: url(./assets/fonts/euclid/EuclidGalactic-4G.ttf);
}
